#div1, #div2 {
    float:left;
    width : 150px;
    height: 60px;
    margin: 10px;
    padding: 10px;
    border: 1px  solid black;
    background-color: aliceblue;
    }
    body{
        background-color: aquamarine;
        
        
    }
    #div1, #div2 {
        width: 150px;
        height: 75px;
        margin: 10px;
        padding: 10px;
        border: 4px solid rgb(55, 47, 62);
      }
      
      img{
          height: 80px;
          width: 120px;
      }
      h1{
         background: radial-gradient(ellipse at bottom, #19131c 0%, #272132 100%);
         color: #ccc;
      }
      
      body {
          text-align: center;
          background-color: #e65e5e;
      }
      
      #imageContainer {
          margin: 20px;
          
      }
      
      #selectedImage {
          max-width: 100%;
          max-height: 600px;
          width: 170px;
          height: 100px;
          border: 1px solid rgb(255, 255, 255);
      }
      
      button {
          padding: 10px 20px;
          background: radial-gradient(ellipse at bottom, #ff0000 0%, #e16e63 100%);
          color: #fff;
          border: none;
          cursor: pointer;
      }
      #div3, #div4 {
          float: left;
          width: 150px;
          height: 75px;
          margin: 10px;
          padding: 10px;
          border: 1px solid black;
        }
        .angry-grid {
          display: grid;
       
          grid-template-rows: 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          
          gap: 4px;
          height: 100px;
          
       }
        
       #item-0 {
       
          background-color: #14b464;
          grid-row-start: 1;
          grid-column-start: 5;
          border: 1px solid black;
       
          grid-row-end: 2;
          grid-column-end: 6;
          
       }
       #item-1 {
       
          background-color: #0c5f9a;
          grid-row-start: 1;
          grid-column-start: 4;
          border: 1px solid black;
          grid-row-end: 2;
          grid-column-end: 5;
          
       }
       #item-2 {
       
          background-color: #f60cbf;
          grid-row-start: 1;
          grid-column-start: 1;
          border: 1px solid black;
          grid-row-end: 2;
          grid-column-end: 2;
          
       }
       #item-3 {
       
          background-color: #62037c;
          grid-row-start: 1;
          grid-column-start: 2;
          border: 1px solid black;
          grid-row-end: 2;
          grid-column-end: 3;
          
       }
       #item-4 {
       
          background-color: #035af1;
          grid-row-start: 1;
          grid-column-start: 3;
          border: 1px solid black;
          grid-row-end: 2;
          grid-column-end: 4;
          
       }
       #item-5 {
       
          background-color: #c8ea06;
          grid-row-start: 1;
          grid-column-start: 6;
          border: 1px solid black;
          grid-row-end: 2;
          grid-column-end: 7;
          
       }
       #item-6 {
       
          background-color: #e48b0e;
          grid-row-start: 1;
          grid-column-start: 7;
          border: 1px solid black;
          grid-row-end: 2;
          grid-column-end: 8;
          
       }
       #item-7 {
       
          background-color: #f20909;
          grid-row-start: 1;
          grid-column-start: 8;
          border: 1px solid black;
          grid-row-end: 2;
          grid-column-end: 9;
          
       }